.Cadastro {
  background-color: #FEDBB0;
  width: 850px;
  height: 1000px;
  border: 3px solid #000000;
  border-radius: 15px;
  display: flex;  
  align-items: center;
}

.FormCadastro {
  margin: 0 auto 0;
  height: 700px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadInput {
  width: 540px;
  height: 70px;
  border: 3px solid #000000;
  background: #FFFFFF;
  border-radius: 15px;
  font-size: 36px;
  padding-left: 1em;
  margin-bottom: 20px;
}

.cadInputOption {
  font-size: 20px;
  width: 30px;
  height: 82px;
}

.Cadastro button {
  width: 540px;
  height: 70px;
  border:8px solid #483F3F;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0;
}

@media (max-width:1000px)  {
  .Cadastro {
    width: 40vw;
    height: 23em;
    border: 2px solid #000000;
  } 

  .FormCadastro {  
    height: 100%;  
    width: 100%;
  }
  
  .cadInput {
    margin-bottom: 1rem;
    width: 70%;
    height: 10%;
    border: 2px solid #000000;
    background: #FFFFFF;
    border-radius: 15px;
    font-size: 1em;
    margin-bottom: 10px;
  }

  .Cadastro button {
    width: 70%;
    height: 10%;
    border:4px solid #483F3F;
    font-size: 1em;
    cursor: pointer;
  }
}

@media (min-width:1040px)  {
  .Cadastro {
    width: 40vw;
    height: 23em;
    border: 2px solid #000000;
  } 

  .FormCadastro {  
    height: 100%;  
    width: 100%;
  }
  
  .cadInput {
    margin-bottom: 1rem;
    width: 70%;
    height: 10%;
    border: 2px solid #000000;
    background: #FFFFFF;
    border-radius: 15px;
    font-size: 1em;
  }

  .Cadastro button {
    width: 70%;
    height: 10%;
    border:4px solid #483F3F;
    font-size: 1em;
    cursor: pointer;
  }
}