*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Cafe {
  background-color: #FEDBB0;
  width: 850px;
  height: 1150px;
  border: 3px solid #000000;
  border-radius: 25px;
  overflow: scroll;
}

.CafeList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CafeMenuBtnBack {
  background-color: #6E3D1C;
  width: 200px;
  height: 70px;
  border: 8px solid #483F3F;
  border-radius: 18px;
  font-size: 35px; 
  color: #FFFFFF;
  margin: 30px 0 0 20px;
  font-weight: bold;
}

.CafeMenu {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.divMae {
  width: 400px;
  height: 290px;
  background-color: #6E3D1C;
  border: 8px solid #483F3F;
  border-radius: 18px;
  line-height: 65px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.divName {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: #FDE5C9 5px solid;
}

.divButton{
  margin: 1em 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.divPrice {
  font-size: 40px;
}

.divMae button {
  width: 2em;
  height: 2em;
  background-color: #483F3F;
  border: 6px solid #FDE5C9;
  border-radius: 18px;
  font-size: 35px; 
  font-weight: bold;
  color: #FFFFFF;
}

.divPedidos {
  margin-top: 20px;
  width: 800px;
  height: 350px;
  font-size: 40px;
  border-radius: 18px;
  padding: 20px;
  overflow: scroll;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;

}

.divPedidosTitle{
  text-align: center;
  font-size: 1.5em;
}

.divPedidosIndividuais {
  margin: 0 auto 10px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px #1c1c1c solid;
}

.totalValue{
  margin-left: 62%;
}

.btnResumo {
  background-color: #6E3D1C;
  width: 300px;
  height: 70px;
  border: 8px solid #483F3F;
  border-radius: 18px;
  font-size: 35px; 
  color: #FFFFFF;
  font-weight: bold;
  margin: 0.5em;
}

.btnDelet{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #483F3F;
  background-color: #FDE5C9;
  font-size: 2rem;
  color: #483F3F;
}

@media (max-width:1000px)  {
  .Cafe {
    width: 90vw;
    height: 23em;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-evenly;
    overflow: initial;
  }
  
  .CafeMenuBtnBack {
    width: 5em;
    height: 2em;
    border: 4px solid #483F3F;
    font-size: 1em; 
    margin: 20px 0 0 25px;
  }
  
  .CafeMenu {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .divMae {
    width: 40%;
    height: 6em;
    border: 4px solid #483F3F;
    padding: 10px;
    margin-top: 10px;
  }
  
  .divName {
    font-size: 1em;
    line-height: 1.5em;
    border-bottom: #FDE5C9 2px solid;
  }
  
  .divPrice {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .divButton{
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .divMae button {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #FDE5C9;
    border-radius: 10px;
    font-size: 1em; 
    cursor: pointer;
  }
  
  .divPedidos {
    margin-top: 20px;
    width: 45vw;
    font-size: 1em;
    padding: 10px;
  }
  
  .divPedidosIndividuais {
    margin: 0 auto 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #1c1c1c solid;
  }
  
  .totalValue{
    margin-left: 62%;
  }

  .btnResumo{
    width: 10em;
    height: 2em;
    border: 4px solid #483F3F;
    font-size: 1em; 
    margin: 10px 0 10px 20px;
    cursor: pointer;
  }
  
  .btnDelet{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-size: 1rem;
    color: #483F3F;
    cursor: pointer;
  }
}

@media (min-width:1040px)  {
  .Cafe {
    width: 90vw;
    height: 23em;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-evenly;
    overflow: initial;
  }
  
  .CafeMenuBtnBack {
    width: 5em;
    height: 2em;
    border: 4px solid #483F3F;
    font-size: 1em; 
    margin: 20px 0 0 25px;
  }
  
  .CafeMenu {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .divMae {
    width: 40%;
    height: 6em;
    border: 4px solid #483F3F;
    padding: 10px;
    margin-top: 10px;
  }
  
  .divName {
    font-size: 1em;
    line-height: 1.5em;
    border-bottom: #FDE5C9 2px solid;
  }
  
  .divPrice {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .divButton{
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .divMae button {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #FDE5C9;
    border-radius: 10px;
    font-size: 1em; 
    cursor: pointer;
  }
  
  .divPedidos {
    margin-top: 20px;
    width: 45vw;
    font-size: 1em;
    padding: 10px;
  }
  
  .divPedidosIndividuais {
    margin: 0 auto 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #1c1c1c solid;
  }
  
  .totalValue{
    margin-left: 62%;
  }

  .btnResumo{
    width: 10em;
    height: 2em;
    border: 4px solid #483F3F;
    font-size: 1em; 
    margin: 10px 0 10px 20px;
    cursor: pointer;
  }
  
  .btnDelet{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-size: 1rem;
    color: #483F3F;
    cursor: pointer;
  }
}