.Cozinha {
  background-color:  #FEDBB0;
  width: 850px;
  height: 1150px;
  border: 3px solid #000000;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
}

.Cozinha h1{
  font-size: 50px;
}

.CozinhaTitle {
  font-size: 90px;
  line-height: 53px;
}

.logout, .btnComponent {
  background-color: #6E3D1C;  
  height: 70px;
  width: 540px;
  border: 8px solid#483F3F;
  border-radius: 18px;
  font-size: 35px; 
  color: #FFFFFF;
  margin: 30px;
  font-weight: bold;
}
.logout{
  width: 134px;
  margin: 5% 0 30% 30%;  
}

.btnMenu{
  width: 400px;

}