.FecharPedido {
  background-color: #FDE5C9;
  width: 850px;
  height: 1150px;
  border: 3px solid #000000;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.FecharPedidoTitle {
  font-size: 60px;
  margin-bottom: 20px;
}

.FecharPedidoItem {
  margin: 0 auto 10px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px #1c1c1c solid;
  font-size: 40px;
}

.FecharPedidoTotal {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
}

.FecharPedidoBtn {
  margin: 0 auto;
  width: 70vw;
  background-color: #6E3D1C;
  height: 100px;
  border: 8px solid #000000;
  border-radius: 18px;
  font-size: 50px;
  line-height: 55px;
  color: #FFFFFF;
  margin-top: 30px;
  font-weight: bold;
}