.GetAllOrders {
    background-color:  #FEDBB0;
    width: 850px;
    height: 1150px;
    border: 3px solid #000000;
    border-radius: 25px; 
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .GetAllOrdersCards{
    height: 90%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow: scroll;
  }

.cards{  
  flex-wrap: wrap;
  width: 350px;
  height: 300px;
  font-size: 30px;
  background-color: #6E3D1C;
  margin: 5px;
  margin-top: 20px;
  border: 8px solid #483F3F;
  border-radius: 15px;
  color:white;
  font-weight: bold;
}

.btnVoltar{
  background-color: #6E3D1C;
  width: 300px;
  height: 70px;
  border: 8px solid #483F3F;
  border-radius: 18px;
  font-size: 35px; 
  color: #FFFFFF;
  font-weight: bold;
  margin: 0.5em;
}

@media (max-width:1000px)  {
  .GetAllOrders {
    width: 90vw;
    height: 23em;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
  }

  .cards{
    padding:10px;
    width: 10em;
    height: 8em;
    font-size: 1em;
    background-color: #6E3D1C;
    margin: 5px;
    margin-top: 20px;
    border: 4px solid #483F3F;
    border-radius: 15px;
    color:white;
    font-weight: bold;
  }

  .btnVoltar{
    width: 10em;
    height: 2em;
    border: 4px solid #483F3F;
    font-size: 1em; 
    margin: 10px 0;
    cursor: pointer;
  }
}

@media (min-width:1040px)  {
  .GetAllOrders {
    width: 90vw;
    height: 23em;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
  }

  .cards{
    padding:10px;
    width: 10em;
    height: 8em;
    font-size: 1em;
    background-color: #6E3D1C;
    margin: 5px;
    margin-top: 20px;
    border: 4px solid #483F3F;
    border-radius: 15px;
    color:white;
    font-weight: bold;
  }

  .btnVoltar{
    width: 10em;
    height: 2em;
    border: 4px solid #483F3F;
    font-size: 1em; 
    margin: 10px 0;
    cursor: pointer;
  }
}